.login__caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.login__caption:hover {
    opacity: 0.5;
    background-color: black;
}