.profile__avatar-button {
    grid-area: ava;
    background-image: url('../../../images/avatar-edit.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 120px;
    transition: .8s ease;
    border-radius: 50%;
    margin:0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}
.profile__avatar-button:hover {
    opacity: 0.5;
    background-color: black;
}