.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 37px;
}
@media screen and (max-width:768px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-left: 27px;
        margin-bottom: 28px;
    }
}