.popup__close-button {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    background: none;
    border: 0;
    padding: 0;
    background-image: url('../../../images/Close_Icon.svg');
    background-repeat:no-repeat;
    background-position: center;  
}
.popup__close-button:hover {
    opacity: 0.6;
    cursor:pointer;
}
@media screen and (max-width:768px) {
    .popup__close-button{
        width: 20px;
        height: 20px;
        right: -36px;
        top: -36px;
    }
}

@media screen and (max-width:320px) {
    .popup__close-button{
        width: 20px;
        height: 20px;
        right: 0px;
        top: -36px;
    }
}