.footer__copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 69px 0 60px;
}
@media screen and (max-width:768px) {
    .footer__copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 46px 0 38px;
        padding-left: 18px;
    }
}