.profile__title-block {
    margin-left: 30px;
    grid-area: title;
    align-self: end;
    height: 39px;
    display: flex;
    align-items: baseline;
    max-width: 336px;
}
@media screen and (max-width:768px) {
    .profile__title-block{
        margin:0;
        max-width: 282px;
    }
}