.popup__header {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}
@media screen and (max-width:768px) {
    .popup__header {
        margin-top: 25px;
        margin-bottom: 50px;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }
}

